@model List<Ahorcado_Grupo5.Models.Jugador>
@{
    ViewBag.Title = "Leaderboard";
}
<style>
    .lead-jugador-container {
        text-align: center;
        padding: 20px;
    }

    .leaderboard-table {
        margin: 40px auto;
        width: 80%;
        border-collapse: collapse;
        font-size: 20px;
    }

        .leaderboard-table th {
            background-color: #ff6f00;
            color: white;
            padding: 15px;
            border: 2px solid #A8FFEA;
        }

        .leaderboard-table td {
            background-color: #780CA6;
            color: white;
            padding: 15px;
            border: 2px solid #A8FFEA;
        }

    .input-block.block-dark {
        margin-top: 50px;
        font-size: 18px;
        color: #333;
    }

</style>


<div class="lead-jugador-container">
    <a href="@Url.Action("MenuPrincipal", "Home")" class="volver-btn" title="Volver al menú principal">&#8592;</a>
    <span class="titulo-crear">Leaderboard</span>

    <div class="input-block block-dark">

        @if (Model != null && Model.Any())
        {
            <table class="leaderboard-table">

                <thead>
                    <tr>
                        <th>Identificación</th>
                        <th>Nombre</th>
                        <th>Marcador</th>
                        <th>Partidas Ganadas</th>
                        <th>Partidas Perdidas</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var jugador in Model)
                    {
                        <tr>
                            <td>@jugador.Identificacion</td>
                            <td>@jugador.Nombre</td>
                            <td>@jugador.Marcador</td>
                            <td>@jugador.PartidasGanadas</td>
                            <td>@jugador.PartidasPerdidas</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="input-block block-dark">
                <p>No hay jugadores disponibles en el leaderboard en este momento.</p>
            </div>
        }
    </div>
</div>
